.partners {
  display: flex;
  height: 403px;

  .cardWrapper:hover path {
    fill: url('#gradient');
  }
}

.title {
  font-family: var(--font-family-menu), sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  text-transform: capitalize;
}
