.customers {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  background: linear-gradient(90deg, rgb(198 40 19), rgb(208 96 81) 100%);
}

.customersWrapper {
  display: flex;
  flex-direction: column;
  width: 1420px;
  margin: 120px auto;
}

.cardsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-bottom: 4px;

  font-family: var(--font-family-menu), sans-serif;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  color: var(--color-main-white);
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.headerTitle {
  margin-bottom: 30px;

  font-family: var(--font-family-menu), sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 61px;
  color: var(--color-main-white);
  text-transform: uppercase;
}
