:root {
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-logo: 'Bebas Neue', sans-serif;
  --font-family-menu: 'Roboto Condensed Variable', sans-serif;
  --font-family-logo1: 'Open Sans Variable', sans-serif;
  --font-family-logo2: 'Lora Variable', sans-serif;
  --font-family-logo3: 'Poppins', sans-serif;
  --font-family-logo4: 'Raleway Variable', sans-serif;
  --font-family-logo5: 'Montserrat Variable', sans-serif;
  --font-family-logo6: 'Ropa Sans', sans-serif;

  // line heights
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

  // font sizes
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.625rem;

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
