.form {
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 549px;
  height: 691px;

  background-color: rgb(255 255 255 / 90%);
}

.wrapper {
  flex-direction: column;
  width: 390px;
}

.input {
  display: flex;
  flex-direction: column;

  input {
    height: 47px;
    background: rgb(255 255 255);
    border: 1px solid rgb(226 226 226);
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 2%);
  }
}

.button {
  margin-top: 30px;
}

.formTitle {
  margin-bottom: 20px;

  font-family: var(--font-family-menu), sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
