@mixin button {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 12px 30px;

  font-family: var(--font-family-menu), sans-serif;
  font-size: 19px;
  font-weight: 700;

  // font-size: var(--font-size-m);
  // font-weight: var(--font-weight-bold);
  // line-height: var(--line-height-m);
  color: inherit;
  text-transform: uppercase;

  border: none;

  // transition: all 0.3s ease;

  &:focus-visible {
    // outline: 2px solid var(--color-info-500);
  }

  &:disabled {
    cursor: default;

    // color: var(--color-light-900);

    svg {
      // fill: var(--color-light-900);
    }
  }
}

.primary {
  @include button;

  color: rgb(255 255 255);
  background: linear-gradient(90deg, rgb(198 40 19), rgb(208 96 81) 100%);
}
