.header {
  display: inline-flex;
  align-items: center;

  // width: 1400px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.logo {
  margin-right: 250px;
}

.menu {
  margin-right: 70px;
}

.phone {
  margin-right: 30px;
}
